.app-container {
  scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vw);
	scroll-snap-type: x mandatory;
  display: flex;
	overflow-x: scroll;
}

.nav {
  height: 100vh;
  width: 50vw;
  position: absolute;
  opacity: 0.5;
  z-index: 10;
  &.left {
    background: red;
    left: 0;
  }
  &.right {
    background: blue;
    right: 0;
  }
}

header, section {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  height: 50vh;
  justify-content: center;
  position: relative;
  text-align: center;
  h1 {
    font-weight: 700;
    margin: 1rem 0;
  }
  p {
    color: #6f6f6f;
    margin: 0;
  }
  .content, .gradient {
    scroll-snap-align: start;
    width: 100vw;
  }
  .logo {
    align-items: center;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    justify-content: center;
    line-height: 1rem;
    margin: auto;
    width: 2rem;
    &.one {
      background: linear-gradient(to top right,#8c51fd, #6ae7fb);
    }
    &.two {
      background: linear-gradient(to top right,#6ae7fb, #fdeb32);
    }
    &.three {
      background: linear-gradient(to top right,#fdeb32, #e94782);
    }
  }
  .gradient {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    .icon {
      background: #fff;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
    }
    &.one {
      background: linear-gradient(to right,#8c51fd, #6ae7fb);
    }
    &.two {
      background: linear-gradient(to right,#6ae7fb, #fdeb32);
    }
    &.three {
      background: linear-gradient(to right,#fdeb32, #e94782);
    }
  }
}
